HOST=127.0.0.1
PORT=3811
BROWSER_PATH=
BROWSER_CHANNEL=
MYSQL_QUERY_TIMEOUT_MS=15000
MYSQL_SSL_CA_PATH=
MYSQL_SSL_REJECT_UNAUTHORIZED=true
MAX_BROWSER_SESSIONS=7
CAPTURE_RETENTION_MS=0
CAPTURE_TMP_RETENTION_MS=86400000
CAPTURE_CLEANUP_INTERVAL_MS=3600000
LOG_RETENTION_MS=0

